<!-- views/partials/rest_sidebar.ejs -->
<div class="sidebar">
    <div class="Profile">
      <img class="Profile-Image" src="/images/user_icon_004.webp" alt="profile-pic"></br>
      <a id="Profile-Name">Name</a></br>
      <a id="Profile-Email">Email</a> 
    </div>
    <ul class="nav">
      <li>
        <a href="/food_res">
          <i class="fas fa-server"></i>
          <span>Foods</span>
        </a>
    </li>
      <li>
        <a href="/restaurant_orders">
          <i class="fa fa-list" aria-hidden="true"></i>
          <span>My Orders</span>
        </a>
      </li>
    </ul>
  </div>