<!-- views/partials/sidebar.ejs -->
<div class="sidebar">
    <div class="Profile">
      <img class="Profile-Image" src="/images/user_icon_004.webp" alt="profile-pic"></br>
      <a id="Profile-Name">Name</a></br>
      <a id="Profile-Email">Email</a> 
    </div>
    <ul class="nav">
      <li>
        <a href="/restaurants">
          <i class="fas fa-server"></i>
          <span>Home</span>
        </a>
      </li>
      <li>
        <a href="/cart">
          <i class="fa fa-cart-plus" aria-hidden="true"></i>
          <span>Cart</span>
        </a>
      </li>
      <li>
        <a href="/my_orders">
          <i class="fa fa-list" aria-hidden="true"></i>
          <span>My Orders</span>
        </a>
      </li>
      <li>
        <a href="/order_history">
          <i class="fa fa-history" aria-hidden="true"></i>
          <span>Order History</span>
        </a>
      </li>
    </ul>
  </div>